// Import
@import './reset';

// Var

// Color
$pink: #FF5757;
$orange: #FFF4E8;
$gradient-pink-to-orange: linear-gradient(83.97deg, #FF5757 -3.11%, #F98972 96.55%);
$black: #000000;
$grey: #999999;
$white: #FFFFFF;

$green: #74A78D;
$pinkDark: #FF6854;
$fond: #FDF8F3;
$fond2: #FCECDB;

// Other
$padding-page: 0 20px;

// Font
@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

// Template

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Poppins-Regular';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Input
input[type=email], input[type=text] {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 6px;
  padding: 17px 16px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::placeholder {
    color: #9B9B9B;
    font-size: 1.4rem;
    font-family: "Poppins-Regular";
  }
}

// Button
button {
  width: 100%;
  background-color: $pinkDark;
  border-radius: 6px;
  border: none;
  color: $white;
  padding: 15px 0;
  font-family: "Poppins-SemiBold";
}

// Header
header {
  height: 50px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-page;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  figcaption {
    font-size: 0.9rem;
    color: $black;
  }
}

// Popup
div.popup {
  width: 100%;
  height: 100vh;
  background-color: $fond;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  display: none;
  z-index: 2;
  &.open {
    display: block;
  }
  & > div {
    padding: $padding-page;
    background-color: $white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100vh;
    text-align: center;
    figure.close_popup {
      text-align: center;
      position: absolute;
      right: 20px;
      margin-top: 20px;
      figcaption {
        font-size: 1rem;
        font-family: "Poppins-SemiBold";
        margin-top: 5px;
      }
    }
  }
}

// Popup filter
div.popup-filter {
  overflow-y: scroll;
  & > div {
    text-align: left;
    overflow: hidden;
    margin-bottom: 50px;
    h2 {
      font-size: 2.1rem;
      font-family: "Poppins-SemiBold";
      padding-top: 25px;
      text-align: center;
    }
    div.pub-service2 {
      margin-top: 30px;
      background: $gradient-pink-to-orange;
      padding: 20px 25px;
      text-align: center;
      border-radius: 10px;
      p {
        color: $white;
        font-size: 1.6rem;
        font-family: "Poppins-SemiBold";
      }
      a {
        display: inline-block;
        margin-top: 10px;
        font-size: 1rem;
        font-family: "Poppins-Medium";
        padding: 8px 30px;
        border: 1px solid $white;
        border-radius: 100px;
        color: $white;
      }
    }
    label.title_champ {
      margin-top: 40px;
      margin-bottom: 10px;
      font-family: "Poppins-SemiBold";
      display: block;
    }
    div.text {
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
      }
      input {
        padding-left: 60px;
      }
    }
    div label {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
      font-family: "Poppins-Medium";
      border-radius: 100px;
      padding: 10px;
      display: inline-block;
      margin-right: 7px;
      margin-bottom: 10px;
      input {
        visibility: hidden;
        position: absolute;
      }
    }
    div.type_de_plat {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      label {
        text-align: center;
        width: 100px;
        height: 85px;
        margin-bottom: 10px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        padding: 20px 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.1rem;
        color: #999999;
        input {
          visibility: hidden;
          position: absolute;
        }
        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 5px;
        }
        input:checked + img {
          background-color: red;
        }
      }
    }
    div.thematiques {
      input[type=text] {
        margin-top: 5px;
      }
    }
    button {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}

// Popup login register
div.popup-login-register {
  & > div {
    img.logo {
      margin-top: 50px;
    }
    & > p {
      margin-top: 20px;
      font-size: 1.6rem;
      letter-spacing: 0.1em;
    }
    a.link_avantage {
      color: $green;
      text-decoration: underline;
      font-size: 1.4rem;
      font-family: "Poppins-SemiBold";
      margin: 35px 0;
      display:  block;
    }
    div.menu_form_login_register {
      margin: 20px 0;
      p, span {
        display: inline-block;
        vertical-align: middle;
      }
      span {
        height: 30px;
        border-right: 1px solid #888E9C;
        margin: 0 20px;
      }
      p {
        font-family: "Poppins-SemiBold";
        font-size: 1.3rem;
        letter-spacing: 0.1em;
        position: relative;
        &.active:after {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 3px;
          background-color: $pinkDark;
          margin-top: 10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    form {
      p {
        position: relative;
      }
      label a {
        text-decoration: underline;
      }
      input[type=email] {
        margin-bottom: 10px;
      }
      // [type=checkbox]:not(:checked),
      // [type=checkbox]:checked {
      //   /* Cache la checkbox sans
      //     la désactiver pour les
      //     lecteurs d'écran */
      //   position: absolute;
      //   left: 0;
      //   opacity: 0.01;
      // }
      // /* on prépare le label */
      // [type=checkbox]:not(:checked) + label,
      // [type=checkbox]:checked + label {
      //   position: relative; /* permet de positionner les pseudo-éléments */
      //   padding-left: 60px; /* fait un peu d'espace pour notre case à venir */
      //   line-height: 1.7;
      //   cursor: pointer;    /* affiche un curseur adapté */
      //   float:left;
      //   text-align: left;
      //   font-size: 1.1rem;
      //   margin-top: 10px;
      // }
      // [type=checkbox]:not(:checked) + label:before,
      // [type=checkbox]:checked + label:before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 16px;
      //   height: 16px;
      //   border: 2px solid #FD595C;
      //   background: #FFF;
      //   border-radius: .2em;
      //   margin-left: 20px;
      // }

      // /* Aspect de la coche */
      // [type=checkbox]:not(:checked) + label:after,
      // [type=checkbox]:checked + label:after {
      //   content: '✕';
      //   position: absolute;
      //   top: 11px;
      //   left: 23px;
      //   font-size: 1.6rem;
      //   color: #FD595C;
      //   line-height: 0;
      // }

      // /* Aspect non cochée */
      // [type=checkbox]:not(:checked) + label:after {
      //   opacity: 0;
      //   transform: scale(0) rotate(45deg);
      // }

      // /* Aspect cochée */
      // [type=checkbox]:checked + label:after {
      //   opacity: 1;
      //   transform: scale(1) rotate(0);
      // }

      // /* Disabled checkbox */
      // [type=checkbox]:disabled:not(:checked) + label:before,
      // [type=checkbox]:disabled:checked + label:before {
      //   box-shadow: none;
      //   border-color: #bbb;
      //   background-color: #e9e9e9;
      // }

      // /* Disabled checked */
      // [type=checkbox]:disabled:checked + label:after {
      //   color: #777;
      // }

      // [type=checkbox]:disabled + label {
      //   color: #aaa;
      // }

      button[type=submit] {
        margin-top: 30px;
        margin-bottom: 15px;
      }
    }
    // Btn connexion/register Facebook and Google
    button.facebook, button.google {
      margin-bottom: 10px;
      font-family: "Poppins-Medium";
      font-size: 1.3rem;
      background-color: $white;
      color: #3F3F3F;
      border-radius: 10px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
      position: relative;
      text-align: left;
      padding-left: 80px;
      img {
        vertical-align: middle;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 35px;
      }
      &.google img {
        left: 25px;
      }
    }
    // Link prisma copnnect
    a.link_prisma {
      text-decoration: underline;
      font-size: 1.1rem;
      margin-top: 20px;
      display: block;
    }
  }
}

body#welcome {
  div.illustration {
    background: url('/assets/images/welcome/illustration.png');
    width: 100%;
    height: 100px;
  }
  main {
    padding: $padding-page;
    text-align: center;
    h1 {
      font-size: 2.5rem;
      font-family: "Poppins-SemiBold";
      margin-top: 45px;
      margin-bottom: 10px;
    }
    p:first-of-type {
      color: #50555C;
      line-height: 21px;
    }
    p:last-of-type {
      color: $green;
      margin-top: 25px;
      margin-bottom: 20px;
      a {
        font-family: "Poppins-SemiBold";
        text-decoration: underline;
      }
    }
    button {
      margin-bottom: 10px;
      &:last-of-type {
        border: 1px solid $pinkDark;
        background-color: $white;
        color: $pinkDark;
      }
    }
    h2 {
      text-align: left;
      font-size: 1.6rem;
      font-family: "Poppins-SemiBold";
      color: $black;
      margin-top: 40px;
      margin-bottom: 10px;
    }
    img {
      margin-bottom: 40px;
    }
  }
}

body#profil-settings {
  main {
    padding: $padding-page;
    text-align: center;
    position: relative;
    img.retour {
      position: absolute;
      top: -15px;
      left: 20px;
    }
    h2 {
      font-size: 2.5rem;
      font-family: "Poppins-SemiBold";
      margin-top: 20px;
    }
    p {
      line-height: 23px;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    p.step {
      margin-top: 35px;
      font-size: 1.6rem;
    }
    form {
      p {
        font-size: 1.6rem;
        margin-top: 25px;
        margin-bottom: 15px;
        text-transform: capitalize;
      }
      div.radio {
        display: inline-block;
        margin: 0 10px;
        input {
          visibility: hidden;
          position: absolute;
        }
        img {
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
          filter: opacity(60%);
        }
        input:checked + label img {
          filter: opacity(100%);
        }
      }
      div.checkbox-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        label {
          text-align: center;
          width: 100px;
          height: 85px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
          border-radius: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 1.1rem;
          color: #999999;
          margin: 0 5px;
          margin-bottom: 14px;
          div.content {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 10px;
            div {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              img {
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
              }
            }
          }
          input {
            visibility: hidden;
            position: absolute;
          }
          input:checked + div {
            background-color: #74A78D;
            color: $white;
            img {
              filter: brightness(0) invert(1);
            }
          }
        }
        &.categorieCheckbox  {
          justify-content: space-between;
          label {
            width: 156px;
            height: 156px;
            margin: 0;
            margin-top: 25px;
            margin-bottom: 40px;
            font-size: 1.6rem;
            font-family: "Poppins-SemiBold";
            color: #3F3F3F;
            div.content {
              margin-bottom: 25px;
            }
          }
        }
      }
      div.text {
        position: relative;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
        }
        input {
          padding-left: 60px;
        }
      }
      div.confidentialite {
        p {
          font-family: "Poppins-SemiBold";
          font-size: 1.4rem;
          text-transform: none;
        }
        a {
          color: #ADB5BD;
          font-size: 1.3rem;
          text-decoration: underline;
        }
      }
      div.button-container {
        margin-top: 25px;
        margin-bottom: 55px;
        button.annuler {
          border: 1px solid $pinkDark;
          background-color: $white;
          color: $pinkDark;
          margin-top: 10px;
        }
      }

    }
    div.preview-container {
      text-align: left;
      div.photo_profil {
        text-align: center;
        position: relative;
        img:last-of-type {
          position: absolute;
          bottom: -10px;
          left:50%;
          transform: translateX(-50%);
          background-color: #F6F6F6;
          border-radius: 10px;
          padding: 10px;
        }
      }
      h2 {
        text-align: center;
        margin-bottom: 25px;
      }
      h3 {
        font-size: 1.6rem;
        color: $pinkDark;
        font-family: "Poppins-SemiBold";
      }
      hr {
        border-top: 1px solid #F6F6F6;
        margin: 20px 0;
      }
      label {
        font-family: "Poppins-SemiBold";
        font-size: 1.2rem;
        margin-top: 15px;
        margin-bottom: 5px;
        display: block;
      }
      span {
        color: $pinkDark;
        margin-left: 10px;
        font-family: "Poppins-SemiBold";
        font-size: 1.2rem;
      }
      select {
        width: 100%;
        background-color: #F6F6F6;
        border-radius: 6px;
        padding: 17px 16px;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.4rem;
        font-family: "Poppins-Regular";
        margin-bottom: 5px;
      }
      // div.pub-service {
      //   background: $gradient-pink-to-orange;
      //   border-radius: 10px;
      //   padding: 20px 10px;
      //   position: relative;
      //   margin-top: 30px;
      //   p:first-of-type {
      //     position: absolute;
      //     left: 10px;
      //     top: -40px;
      //     background-color: #5D8F68;
      //     border-radius: 20px;
      //     color: $white;
      //     font-family: "Poppins-SemiBold";
      //     font-size: 1rem;
      //     letter-spacing: 1px;
      //     text-transform: uppercase;
      //     padding: 5px 10px;
      //     line-height: 15px;
      //   }
      //   p:last-of-type {
      //     color: $white;
      //     font-size: 1.6rem;
      //     font-family: "Poppins-SemiBold";
      //     margin: 0;
      //     margin-left: 75px;
      //     text-transform: none;
      //     margin-bottom: 45px;
      //   }
      //   a {
      //     float: right;
      //     color: $white;
      //     border: 1px solid $white;
      //     padding: 10px;
      //     margin-right: 10px;
      //     margin-top: -30px;
      //     border-radius: 20px;
      //     font-size: 1rem;
      //     font-family: "Poppins-Medium";
      //   }
      //   img {
      //     position: absolute;
      //     bottom: 0;
      //     left: 0;
      //   }
      // }
      p:last-of-type {
        font-size: 1.2rem;
        text-transform: none;
      }
    }
  }
}

.bloc-filter-recipe {
  position: relative;
  text-align: center;
  padding: 20px;

  div.input-filter {
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    & > img {
      left: 20px;
    }

    div.icon-filter {
      position: absolute;
      width: 50px;
      height: 100%;
      background-color: $pink;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      border-radius: 11.1111px;

      & > img {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    input {
      padding-left: 50px;
      background-color: #FFF;
    }
  }

  ul.filter-search {
    position: absolute;
    width: calc(100% - 40px);
    z-index: 10;

    li {
      background-color: #FFF;
      padding: 10px;

      a {
        text-decoration: none;
        color: #11193D;
      }

      &:last-of-type {
        font-family: 'Poppins-SemiBold';
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: #FFF;
        background-color: #FF6854;

        span {
          font-weight: 800;
        }
      }
    }
  }

  div.list-filter-selected {
    text-align: left;

    ul {
      li {
        display: inline-block;
        width: auto;
        padding: 8px 15px;
        margin: 8px 8px 0 0;
        background-color: #FFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 100px;

        img {
          vertical-align: middle;
        }

        span {
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle;
        }
      }
    }
  }

  div.content-filter {
    text-align: left;
    margin-top: 20px;

    h3 {
      font-family: 'Poppins-SemiBold';
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #222C31;
    }

    ul {
      li {
        display: inline-block;
        text-align: center;
        background-color: #FFF;
        width: 75px;
        padding: 12px 0px;
        margin: 7px 7px 7px 0;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 20px 4px 20px 4px;
        cursor: default;

        &.active {
          background-color: $pinkDark;
          color: #FFF;
        }
      }
    }
  }

  button {
    font-family: "Poppins-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin-top: 14px;
    padding: 4px 8px;
    width: 40%;
    color: $pink;
    background-color: transparent;
    border: 1px solid $pink;
    border-radius: 100px;
  }
}

// List Recipe Page
body#list-recipe {
  background-color: $fond;
  input[type=text] {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  .bloc-list-recipe {
    padding: 0 20px;
    & > div {
      span {
        float: right;
        font-size: 1.3rem;
        line-height: 19px;
        text-align: right;
        color: $pinkDark;
        margin-top: 3px;
        vertical-align: middle;
        margin-bottom: 10px;
        img {
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }

    .list-recipe li {
      position: relative;
      display: inline-block;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 1px 1px rgba(153, 153, 153, 0.5);
      border-radius: 10px;
      margin-bottom: 11px;
      & > div {
        &.recipe-image {
          width: 40%;
          padding-bottom: 100px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
          border-radius: 7px 0 0 7px;
          float: left;
          div {
            position: relative;
            background-color: $white;
            width: 30px;
            height: 30px;
            top: 7px;
            left: 11px;
            border-radius: 10px;
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        &.recipe-description {
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 130px;
          h3 {
            font-family: 'Poppins-Medium';
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 19px;
            letter-spacing: 0.200667px;
            padding-right: 25px;
            color: #222C31;
          }

          div {
            span {
              display: inline-block;
              font-family: 'Poppins-Regular';
              font-weight: normal;
              font-size: 10px;
              line-height: 15px;
              letter-spacing: 0.143333px;
              color: rgba(0, 0, 0, 0.4);
              vertical-align: bottom;
              margin-left: 6px;
            }
            img {
              vertical-align: top;
            }
          }
        }
      }

      p.sponsored {
        text-align: center;
        background-color: #FA8A73;
        color: #FFF;
        font-family: 'Poppins-Regular';
        font-weight: normal;
        font-size: 1rem;
        letter-spacing: 1px;
        position: absolute;
        padding: 5px 0;
        top: 55px;
        right: -54px;
        width: 130px;
        transform: rotate(90deg);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }
}

// Detail Recipe
body#detail-recipe {
  .content-recipe {
    .main-image-recipe {
        padding-bottom: 260px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        img {
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    div.header-detail-recipe {
      background-color: $fond;
      padding: 20px 0;
      text-align: center;
      h3 {
        font-family: 'Poppins-SemiBold';
        font-weight: bold;
        font-size: 2.8rem;
        color: #352B2B;
        margin-top: 10px;
      }
      .review, .mode {
        text-align: center;
        margin: 20px 20px;
        display: inline-block;
        div {
          height: 20px;
          text-align: center;
          vertical-align: middle;
          margin-bottom: 10px;
          color: #ABA9A8;
          span {
            margin-left: 5px;
          }
        }
        p {
          font-family: 'Poppins-Medium';
          text-decoration-line: underline;
          font-weight: 500;
          font-size: 1.1rem;
          line-height: 1.6rem;
          color: #50555C;
        }
      }
      .global-information {
        margin-top: 22px;
        & div {
          display: inline-block;
          width: calc(100% / 4);
          font-family: 'Poppins-SemiBold';
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 18px;
          text-align: center;
          color: #222C31;
        }
      }
    }

    .detail-recipe {
      padding: 0 20px;
      margin-bottom: 40px;
      .content-ingredient {
        margin-top: 50px;
        h4 {
          font-family: 'Poppins-Medium';
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 21px;
          text-align: center;
          text-transform: uppercase;
          color: #222C31;
        }

        .content-yield-recipe {
          text-align: center;
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          margin: 15px auto 20px;
          max-width: 310px;

          .yield-control {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $pinkDark;
            box-shadow: 1px 2px 6px rgba(157, 170, 177, 0.5);
            -webkit-box-shadow: 1px 2px 6px rgba(157, 170, 177, 0.5);
            overflow: hidden;
            outline: 0;
          }

          .yield-recipe {
            font-family: 'Poppins-SemiBold';
            font-weight: 600;
            font-size: 2rem;
            line-height: 30px;
            color: #3F3F3F;

            span {
              display: inline-block;
              padding: 5px;
            }
          }
        }

        div.baniere-service {
          width: 100%;
          height: 111px;
          background-color: $green;
          position: relative;
          overflow: hidden;
          border-radius: 6px;
          img:first-of-type {
            position: absolute;
            top: 0;
            left: 0;
          }
          img:nth-of-type(2) {
            position: absolute;
            bottom: 0;
            left: 176px;
          }
          img:last-of-type {
            float: left;
            position: relative;
            margin-left: -7px;
          }
          p {
            color: $white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 133px;
            width: 176px;
            font-size: 1.4rem;
            font-family: "Poppins-Regular";
            line-height: 19px;
          }
        }

        // div.pub-service {
        //   background: $gradient-pink-to-orange;
        //   border-radius: 10px;
        //   padding: 20px 10px;
        //   position: relative;
        //   margin-top: 30px;
        //   p:first-of-type {
        //     position: absolute;
        //     left: 10px;
        //     top: -40px;
        //     background-color: #5D8F68;
        //     border-radius: 20px;
        //     color: $white;
        //     font-family: "Poppins-SemiBold";
        //     font-size: 1rem;
        //     letter-spacing: 1px;
        //     text-transform: uppercase;
        //     padding: 5px 10px;
        //     line-height: 15px;
        //   }
        //   p:last-of-type {
        //     color: $white;
        //     font-size: 1.6rem;
        //     font-family: "Poppins-SemiBold";
        //     margin: 0;
        //     margin-left: 75px;
        //     text-transform: none;
        //     margin-bottom: 45px;
        //   }
        //   a {
        //     float: right;
        //     color: $white;
        //     border: 1px solid $white;
        //     padding: 10px;
        //     margin-right: 10px;
        //     margin-top: -30px;
        //     border-radius: 20px;
        //     font-size: 1rem;
        //     font-family: "Poppins-Medium";
        //   }
        //   img {
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //   }
        // }

        button.shop-ingredients {
          margin-top: 20px;
          margin-bottom: 40px;
          text-align: center;
          background: $pinkDark;
          border-radius: 6px;
          font-family: 'Poppins-Medium';
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 21px;
          letter-spacing: 0.43px;
          color: #FFFFFF;
          img {
            margin-right: 20px;
            vertical-align: bottom;
          }
        }

        .list-ingredients {
          margin-top: 40px;

          li {
            margin-bottom: 15px;

            div {
              display: inline-block;
              vertical-align: middle;

              &:first-of-type {
                width: 20%;
              }

              &:last-of-type {
                width: calc(80% - 15px);
                padding-left: 15px;

                p {
                  font-family: 'Poppins-Medium';
                  font-weight: 600;
                  font-size: 1.4rem;
                  line-height: 21px;
                  color: #000000;

                  &:last-of-type {
                    font-weight: 300;
                  }
                }
              }
            }
          }
        }
      }

      .content-preparation {
        margin-top: 50px;
        padding: 0 20px;

        h4 {
          font-family: 'Poppins-Medium';
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 21px;
          text-align: center;
          text-transform: uppercase;
          color: #222C31;
          margin-bottom: 40px;
        }

        ul {
          padding-left: 30px;

          li {
            position: relative;
            margin-bottom: 30px;

            &:before {
              content: "";
              display: inline-block;
              background-color: #E0E3EB;
              width: 1px;
              height: calc(100% + 35px);
              position: absolute;
              left: -30px;
              top: 10px;
            }

            &:last-of-type {
              &:before {
                content: inherit;
              }
            }

            &:after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 11px;
              height: 11px;
              background-color: #E0E3EB;
              border-radius: 50%;
              left: -35px;
              top: 10px;
            }

            p {
              font-family: 'Poppins-Regular';
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 177%;


              span {
                color: #FF5757;
                font-family: 'Poppins-SemiBold';
              }
            }
          }
        }
      }
    }
  }
}

// Footer
footer {
  background-color: $fond2;
  color: $black;
  text-align: center;
  padding: 20px 50px;

  p {
    font-family: 'Poppins-Regular';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  ul {
    margin: 20px 0;

    li {
      font-family: 'Poppins-Regular';
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }
}


// Bottom Magazine
.magazine {
  background-color: #FF8272;
  padding: 20px;
  text-align: center;

  h4 {
    margin-bottom: 25px;
    font-family: 'Poppins-SemiBold';
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
    color: $white;
    text-align: left;
  }

  a {
    img {
      width: auto;
      margin: auto;
    }
  }
}
