@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Poppins-Regular';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=email], input[type=text] {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 6px;
  padding: 17px 16px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=email]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder {
  color: #9B9B9B;
  font-size: 1.4rem;
  font-family: "Poppins-Regular";
}

input[type=email]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder {
  color: #9B9B9B;
  font-size: 1.4rem;
  font-family: "Poppins-Regular";
}

input[type=email]::-ms-input-placeholder, input[type=text]::-ms-input-placeholder {
  color: #9B9B9B;
  font-size: 1.4rem;
  font-family: "Poppins-Regular";
}

input[type=email]::placeholder, input[type=text]::placeholder {
  color: #9B9B9B;
  font-size: 1.4rem;
  font-family: "Poppins-Regular";
}

button {
  width: 100%;
  background-color: #FF5757;
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  padding: 15px 0;
  font-family: "Poppins-SemiBold";
}

header {
  height: 50px;
  background-color: #FF5757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

header figcaption {
  font-size: 0.9rem;
  color: #FFFFFF;
}

div.popup {
  width: 100%;
  height: 100vh;
  background-color: #FF5757;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  display: none;
}

div.popup.open {
  display: block;
}

div.popup > div {
  padding: 0 20px;
  background-color: #FFFFFF;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 100vh;
  text-align: center;
}

div.popup > div figure.close_popup {
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

div.popup > div figure.close_popup figcaption {
  font-size: 1rem;
  font-family: "Poppins-SemiBold";
  margin-top: 5px;
}

div.popup-login-register {
  z-index: 2;
}

div.popup-login-register > div img.logo {
  margin-top: 50px;
}

div.popup-login-register > div > p {
  margin-top: 20px;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

div.popup-login-register > div div.menu_form_login_register {
  margin: 20px 0;
}

div.popup-login-register > div div.menu_form_login_register p, div.popup-login-register > div div.menu_form_login_register span {
  display: inline-block;
  vertical-align: middle;
}

div.popup-login-register > div div.menu_form_login_register span {
  height: 30px;
  border-right: 1px solid #888E9C;
  margin: 0 20px;
}

div.popup-login-register > div div.menu_form_login_register p {
  font-family: "Poppins-SemiBold";
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  position: relative;
}

div.popup-login-register > div div.menu_form_login_register p.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #FF5757;
  margin-top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div.popup-login-register > div form {
  /* on prépare le label */
  /* Aspect de la coche */
  /* Aspect non cochée */
  /* Aspect cochée */
  /* Disabled checkbox */
  /* Disabled checked */
}

div.popup-login-register > div form p {
  position: relative;
}

div.popup-login-register > div form label a {
  text-decoration: underline;
}

div.popup-login-register > div form input[type=email] {
  margin-bottom: 10px;
}

div.popup-login-register > div form [type=checkbox]:not(:checked),
div.popup-login-register > div form [type=checkbox]:checked {
  /* Cache la checkbox sans
          la désactiver pour les
          lecteurs d'écran */
  position: absolute;
  left: 0;
  opacity: 0.01;
}

div.popup-login-register > div form [type=checkbox]:not(:checked) + label,
div.popup-login-register > div form [type=checkbox]:checked + label {
  position: relative;
  /* permet de positionner les pseudo-éléments */
  padding-left: 60px;
  /* fait un peu d'espace pour notre case à venir */
  line-height: 1.7;
  cursor: pointer;
  /* affiche un curseur adapté */
  float: left;
  text-align: left;
  font-size: 1.1rem;
  margin-top: 10px;
}

div.popup-login-register > div form [type=checkbox]:not(:checked) + label:before,
div.popup-login-register > div form [type=checkbox]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #FD595C;
  background: #FFF;
  border-radius: .2em;
  margin-left: 20px;
}

div.popup-login-register > div form [type=checkbox]:not(:checked) + label:after,
div.popup-login-register > div form [type=checkbox]:checked + label:after {
  content: '✕';
  position: absolute;
  top: 11px;
  left: 23px;
  font-size: 1.6rem;
  color: #FD595C;
  line-height: 0;
}

div.popup-login-register > div form [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
}

div.popup-login-register > div form [type=checkbox]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}

div.popup-login-register > div form [type=checkbox]:disabled:not(:checked) + label:before,
div.popup-login-register > div form [type=checkbox]:disabled:checked + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

div.popup-login-register > div form [type=checkbox]:disabled:checked + label:after {
  color: #777;
}

div.popup-login-register > div form [type=checkbox]:disabled + label {
  color: #aaa;
}

div.popup-login-register > div form button[type=submit] {
  margin: 25px 0;
}

div.popup-login-register > div button.facebook, div.popup-login-register > div button.google {
  margin-bottom: 10px;
  font-family: "Poppins-Medium";
  font-size: 1.3rem;
  background-color: #FFFFFF;
  color: #3F3F3F;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
  position: relative;
  text-align: left;
  padding-left: 80px;
}

div.popup-login-register > div button.facebook img, div.popup-login-register > div button.google img {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 35px;
}

div.popup-login-register > div button.facebook.google img, div.popup-login-register > div button.google.google img {
  left: 25px;
}

div.popup-login-register > div a.link_prisma {
  text-decoration: underline;
  font-size: 1.1rem;
  margin-top: 20px;
  display: block;
}

body#welcome div.illustration {
  background: url("/assets/images/welcome/illustration.png");
  width: 100%;
  height: 195px;
}

body#welcome main {
  padding: 0 20px;
  text-align: center;
}

body#welcome main h1 {
  font-size: 2.5rem;
  font-family: "Poppins-SemiBold";
  margin-top: 40px;
  margin-bottom: 20px;
}

body#welcome main p {
  color: #50555C;
  line-height: 21px;
}

body#welcome main a {
  color: #FF5757;
  font-family: "Poppins-SemiBold";
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

body#welcome main button {
  margin-bottom: 10px;
}

body#welcome main button:last-of-type {
  border: 1px solid #FF5757;
  background-color: #FFFFFF;
  color: #FF5757;
}

body#profil-settings main {
  padding: 0 20px;
  text-align: center;
  position: relative;
}

body#profil-settings main img.retour {
  position: absolute;
  top: -15px;
  left: 20px;
}

body#profil-settings main h2 {
  font-size: 2.5rem;
  font-family: "Poppins-SemiBold";
  margin-top: 20px;
}

body#profil-settings main p {
  line-height: 23px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

body#profil-settings main p.step {
  margin-top: 35px;
  font-size: 1.6rem;
}

body#profil-settings main form p {
  font-size: 1.6rem;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

body#profil-settings main form div.radio {
  display: inline-block;
  margin: 0 10px;
}

body#profil-settings main form div.radio input {
  visibility: hidden;
  position: absolute;
}

body#profil-settings main form div.radio img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

body#profil-settings main form div.checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body#profil-settings main form div.checkbox-list div {
  text-align: center;
  width: 27%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  padding: 20px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: #999999;
  margin: 0 7px;
  margin-bottom: 14px;
}

body#profil-settings main form div.checkbox-list div input {
  visibility: hidden;
  position: absolute;
}

body#profil-settings main form div.checkbox-list div img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

body#profil-settings main form div.text {
  position: relative;
}

body#profil-settings main form div.text img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
}

body#profil-settings main form div.text input {
  padding-left: 60px;
}

body#profil-settings main form button {
  margin: 30px 0;
}

body#profil-settings main div.preview-container {
  text-align: left;
}

body#profil-settings main div.preview-container div.photo_profil {
  text-align: center;
  position: relative;
}

body#profil-settings main div.preview-container div.photo_profil img:last-of-type {
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 10px;
}

body#profil-settings main div.preview-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

body#profil-settings main div.preview-container h3 {
  font-size: 1.6rem;
  color: #FF5757;
  font-family: "Poppins-SemiBold";
}

body#profil-settings main div.preview-container hr {
  border-top: 1px solid #F6F6F6;
  margin: 20px 0;
}

body#profil-settings main div.preview-container label {
  font-family: "Poppins-SemiBold";
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
}

body#profil-settings main div.preview-container span {
  color: #FF5757;
  margin-left: 10px;
  font-family: "Poppins-SemiBold";
  font-size: 1.2rem;
}

body#profil-settings main div.preview-container select {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 6px;
  padding: 17px 16px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: "Poppins-Regular";
  margin-bottom: 5px;
}

body#profil-settings main div.preview-container div.checkbox-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body#profil-settings main div.preview-container div.checkbox-list div {
  width: 30%;
  margin: 0;
  margin-bottom: 15px;
}

body#profil-settings main div.preview-container div.pub-service {
  background: linear-gradient(83.97deg, #FF5757 -3.11%, #F98972 96.55%);
  border-radius: 10px;
  padding: 20px 10px;
  position: relative;
  margin-top: 30px;
}

body#profil-settings main div.preview-container div.pub-service p:first-of-type {
  position: absolute;
  left: 10px;
  top: -40px;
  background-color: #5D8F68;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: "Poppins-SemiBold";
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  line-height: 15px;
}

body#profil-settings main div.preview-container div.pub-service p:last-of-type {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: "Poppins-SemiBold";
  margin: 0;
  margin-left: 75px;
  text-transform: none;
  margin-bottom: 45px;
}

body#profil-settings main div.preview-container div.pub-service a {
  float: right;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px;
  margin-right: 10px;
  margin-top: -30px;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Poppins-Medium";
}

body#profil-settings main div.preview-container div.pub-service img {
  position: absolute;
  bottom: 0;
  left: 0;
}

body#profil-settings main div.preview-container p:last-of-type {
  font-size: 1.2rem;
  text-transform: none;
}

.bloc-filter-recipe {
  text-align: center;
  padding: 20px;
  background-color: #FFF4E8;
}

.bloc-filter-recipe div.input-filter {
  position: relative;
}

.bloc-filter-recipe div.input-filter img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bloc-filter-recipe div.input-filter > img {
  left: 20px;
}

.bloc-filter-recipe div.input-filter div.icon-filter {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #FF5757;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  border-radius: 11.1111px;
}

.bloc-filter-recipe div.input-filter div.icon-filter > img {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bloc-filter-recipe div.input-filter input {
  padding-left: 60px;
  background-color: #FFF;
}

.bloc-filter-recipe button {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  margin-top: 14px;
  padding: 4px 8px;
  width: 40%;
  color: #FF5757;
  background-color: transparent;
  border: 1px solid #FF5757;
  border-radius: 100px;
}

body#list-recipe .bloc-list-recipe {
  padding: 0 20px;
  margin-top: 25px;
}

body#list-recipe .bloc-list-recipe > div {
  position: relative;
  margin-bottom: 10px;
}

body#list-recipe .bloc-list-recipe > div h3 {
  display: inline-block;
  font-family: 'Poppins-SemiBold';
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 70%;
}

body#list-recipe .bloc-list-recipe > div span {
  display: inline-block;
  position: absolute;
  width: 30%;
  right: 0;
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  color: #FD595C;
}

body#list-recipe .bloc-list-recipe .list-recipe li {
  display: inline-block;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(153, 153, 153, 0.5);
          box-shadow: 0px 1px 1px rgba(153, 153, 153, 0.5);
  border-radius: 10px;
  margin-bottom: 11px;
}

body#list-recipe .bloc-list-recipe .list-recipe li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div {
  display: inline-block;
  width: calc((100% / 2) - 20px);
  vertical-align: middle;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-image {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 7px 0 0 7px;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-image div {
  position: relative;
  background-color: #FFF4E8;
  width: 30px;
  height: 30px;
  top: 7px;
  left: 11px;
  border-radius: 10px;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-image div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-description {
  padding-left: 20px;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-description h3 {
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.200667px;
  color: #222C31;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-description span {
  display: inline-block;
  font-family: 'Poppins-Regular';
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.143333px;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: text-top;
}

body#list-recipe .bloc-list-recipe .list-recipe li a > div.recipe-description span:last-of-type {
  margin-left: 6px;
}

body#list-recipe .bloc-list-recipe .list-recipe li a p.sponsored {
  text-align: center;
  background-color: #FA8A73;
  color: #FFF;
  font-family: 'Poppins-Regular';
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1px;
}

body#detail-recipe .content-recipe .main-image-recipe {
  padding-bottom: 260px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

body#detail-recipe .content-recipe h3 {
  font-family: 'Poppins-SemiBold';
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
  color: #352B2B;
  margin-top: 10px;
}

body#detail-recipe .content-recipe .review {
  text-align: center;
  margin: 20px 0;
}

body#detail-recipe .content-recipe .review p {
  font-family: 'Poppins-Medium';
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #222C31;
}

body#detail-recipe .content-recipe .detail-recipe {
  padding: 0 20px;
  margin-bottom: 40px;
}

body#detail-recipe .content-recipe .detail-recipe .global-information {
  margin-top: 22px;
}

body#detail-recipe .content-recipe .detail-recipe .global-information div {
  display: inline-block;
  width: calc(100% / 4);
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 18px;
  text-align: center;
  color: #222C31;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient {
  margin-top: 50px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient h4 {
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #222C31;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .content-yield-recipe {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 15px auto 20px;
  max-width: 310px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .content-yield-recipe .yield-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF5757), to(#FF5757));
  background: linear-gradient(0deg, #FF5757, #FF5757);
  box-shadow: 1px 2px 6px rgba(157, 170, 177, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(157, 170, 177, 0.5);
  overflow: hidden;
  outline: 0;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .content-yield-recipe .yield-recipe {
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  color: #3F3F3F;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .content-yield-recipe .yield-recipe span {
  display: inline-block;
  padding: 5px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient div.pub-service {
  background: linear-gradient(83.97deg, #FF5757 -3.11%, #F98972 96.55%);
  border-radius: 10px;
  padding: 20px 10px;
  position: relative;
  margin-top: 30px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient div.pub-service p:first-of-type {
  position: absolute;
  left: 10px;
  top: -40px;
  background-color: #5D8F68;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: "Poppins-SemiBold";
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5px 10px;
  line-height: 15px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient div.pub-service p:last-of-type {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: "Poppins-SemiBold";
  margin: 0;
  margin-left: 75px;
  text-transform: none;
  margin-bottom: 45px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient div.pub-service a {
  float: right;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 10px;
  margin-right: 10px;
  margin-top: -30px;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Poppins-Medium";
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient div.pub-service img {
  position: absolute;
  bottom: 0;
  left: 0;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient button.shop-ingredients {
  margin-top: 30px;
  text-align: center;
  background: #FD595C;
  border-radius: 6px;
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 21px;
  letter-spacing: 0.43px;
  color: #FFFFFF;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients {
  margin-top: 40px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients li {
  margin-bottom: 15px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients li div {
  display: inline-block;
  vertical-align: middle;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients li div:first-of-type {
  width: 20%;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients li div:last-of-type {
  width: calc(80% - 15px);
  padding-left: 15px;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients li div:last-of-type p {
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 21px;
  color: #000000;
}

body#detail-recipe .content-recipe .detail-recipe .content-ingredient .list-ingredients li div:last-of-type p:last-of-type {
  font-weight: 300;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation {
  margin-top: 50px;
  padding: 0 20px;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation h4 {
  font-family: 'Poppins-Medium';
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #222C31;
  margin-bottom: 40px;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul {
  padding-left: 30px;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul li {
  position: relative;
  margin-bottom: 30px;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul li:before {
  content: "";
  display: inline-block;
  background-color: #E0E3EB;
  width: 1px;
  height: calc(100% + 35px);
  position: absolute;
  left: -30px;
  top: 10px;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul li:last-of-type:before {
  content: inherit;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul li:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #E0E3EB;
  border-radius: 50%;
  left: -35px;
  top: 10px;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul li p {
  font-family: 'Poppins-Regular';
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 177%;
}

body#detail-recipe .content-recipe .detail-recipe .content-preparation ul li p span {
  color: #FF5757;
}

footer {
  background-color: #FF5757;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 50px;
}

footer p {
  font-family: 'Poppins-Regular';
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4rem;
}

footer ul {
  margin: 20px 0;
}

footer ul li {
  font-family: 'Poppins-Regular';
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.magazine {
  background-color: #FCECDB;
  padding: 20px;
  text-align: center;
}

.magazine h4 {
  margin-bottom: 25px;
  font-family: 'Poppins-SemiBold';
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
  color: #222C31;
  text-align: left;
}

.magazine a img {
  width: auto;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */