<main>
  <div class="bloc-filter-recipe">
    <div class="input-filter">
      <img src="assets/images/profil-settings/search.png" alt="">
      <input type="text" [formControl]="queryField" (blur)="onBlur()" (focus)="onFocus()" name="keyword" id="keyword" placeholder="Ingrédients, recette, type de cuisine">
      <!--<div class="icon-filter">
        <img src="assets/images/list-recipe/filter-icon.png" alt="">
      </div>-->
    </div>
    <ul *ngIf="displaySearchList" class="filter-search">
      <li *ngFor="let result of resultsSearch">
        <a [routerLink]="['/recipe', result.id]" >
          <p class="recipe-name">{{ result.title }}</p>
        </a>
      </li>
      <li>
        Toutes les recettes avec <span>"{{ queryField.value }}"</span>
      </li>
    </ul>

    <!--<button>Idées de menus</button>-->

    <div class="content-filter">
      <h3>Trouver par</h3>
      <ul>
        <li *ngFor="let item of listFilterType" [attr.data-value-filter]="item[0]" (click)="changeFilterType($event)" [ngClass]="{active: filterIsSelected('type', item[0])}">
          {{ item[1] }}
        </li>
      </ul>
    </div>

    <div class="content-filter">
      <h3>Trier par</h3>
      <ul>
        <li data-value-filter="été" (click)="changeFilterSeason($event)" [ngClass]="{active: filterIsSelected('season', 'été')}">Été</li>
        <li data-value-filter="hiver" (click)="changeFilterSeason($event)" [ngClass]="{active: filterIsSelected('season', 'hiver')}">Hiver</li>
      </ul>
      <input type="text" name="" id="" placeholder="Recherchez une recette">
      <div class="icon-filter">
        <img (click)="checkPopupFilter()" src="assets/images/list-recipe/filter-icon.png" alt="">
      </div>
    </div>
  </div>

  <div class="popup popup-filter" [ngClass]="{'open': seePopupFilter}">
    <div>
      <!-- Close popup -->
      <figure (click)="checkPopupFilter()" class="close_popup">
        <img src="/assets/images/popup/close.png" alt="">
        <figcaption>Fermer</figcaption>
      </figure>

      <h2>Trouver une recette</h2>

      <div class="pub-service2">
        <p>Personnalisez davantages vos recettes en vous connectant !</p>
        <a>Se connecter</a>
      </div>

      <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <!-- Ingrédients | Text -->
        <label class="title_champ">Que peut-on faire avec :</label>
        <div class="text">
          <img src="assets/images/profil-settings/search.png" alt="">
          <input type="text" placeholder="Ajouter un ou plusieurs ingrédients">
        </div>

        <!-- Type de plat | Checkbox -->
        <label class="title_champ">Type de plat</label>
        <div class="type_de_plat">
          <label *ngFor="let typeDePlat of filterForm.controls.typeDePlatFormControl['controls']; let i=index;"
            class="flex-container  align-center multi-checkbox">
            <input type="checkbox" [formControl]="typeDePlat" (change)="getSelectedInputs('typeDePlat');">
            <img src="{{typeDePlatData[i].img}}" alt="">
            {{typeDePlatData[i].name}}
          </label>
        </div>

        <!-- Temps cuisson | Checkbox -->
        <label class="title_champ">Temps de cuisson</label>
        <div class="temps_de_cuisson">
          <label *ngFor="let tempsDeCuisson of filterForm.controls.tempsDeCuissonFormControl['controls']; let i=index;"
            class="flex-container  align-center multi-checkbox">
            <input type="checkbox" [formControl]="tempsDeCuisson" (change)="getSelectedInputs('tempsDeCuisson');">
            {{tempsCuissonData[i].name}}
          </label>
        </div>

        <!-- Thématiques | Checkbox -->
        <label class="title_champ">Par thématiques</label>
        <div class="thematiques">
          <label for="de_saison">
            <input type="checkbox" name="thematiques" value="de_saison" id="de_saison">
            De saison
          </label>
          <label for="terroir_français">
            <input type="checkbox" name="thematiques" value="terroir_français" id="terroir_français">
            Terroir français
          </label>
          <label for="detox">
            <input type="checkbox" name="thematiques" value="detox" id="detox">
            Detox
          </label>
          <label for="cuisine_du_monde">
            <input type="checkbox" name="thematiques" value="cuisine_du_monde" id="cuisine_du_monde">
            Cuisine du monde
          </label>
          <label for="etonnantes">
            <input type="checkbox" name="thematiques" value="etonnantes" id="etonnantes">
            Étonnantes
          </label>
          <label for="traditionnelle">
            <input type="checkbox" name="thematiques" value="traditionnelle" id="traditionnelle">
            Traditionnelle
          </label>
        </div>

        <!-- Pour une occasion | Checkbox + Texte -->
        <label class="title_champ">Pour une occasion</label>
        <div class="thematiques">
          <label for="anniversaire">
            <input type="checkbox" name="thematiques" value="anniversaire" id="anniversaire">
            Anniversaire
          </label>
          <label for="repas_entre_amis">
            <input type="checkbox" name="thematiques" value="repas_entre_amis" id="repas_entre_amis">
            Repas entre amis
          </label>
          <label for="noel">
            <input type="checkbox" name="thematiques" value="noel" id="noel">
            Noël
          </label>
          <label for="repas_de_fetes">
            <input type="checkbox" name="thematiques" value="repas_de_fetes" id="repas_de_fetes">
            Repas de fêtes
          </label>
          <label for="tea_time">
            <input type="checkbox" name="thematiques" value="tea_time" id="tea_time">
            Tea-time
          </label>
          <label for="diner_romantique">
            <input type="checkbox" name="thematiques" value="diner_romantique" id="diner_romantique">
            Diner romantique
          </label>
          <label for="brunch">
            <input type="checkbox" name="thematiques" value="brunch" id="brunch">
            Brunch
          </label>
          <div class="text">
            <img src="assets/images/profil-settings/search.png" alt="">
            <input type="text" name="thematiques" id="" placeholder="Recherhez par mot clé">
          </div>
        </div>

        <!-- Exclure des aliments | Texte -->
        <label class="title_champ">Exclure des aliments de ma recherche</label>
        <div class="text">
          <img src="assets/images/profil-settings/search.png" alt="">
          <input type="text" name="aliments_exclus" id="" placeholder="Recherchez des aliments">
        </div>

        <button type="submit">Rechercher</button>
      </form>
    </div>
  </div>

  <div class="bloc-list-recipe">
    <div>
      <h3>Recettes suggérées</h3>
      <span>Trier par :</span>
    </div>

    <ul *ngIf="allRecipe" class="list-recipe">
      <li *ngFor="let recipe of allRecipe | keyvalue">
        <a [routerLink]="['/recipe', recipe.value.id]" >
          <div class="recipe-image" style.background-image="url({{ recipe.value.medias[0].url }})">
            <div>
              <img src="assets/images/list-recipe/save-icon.png" alt="">
            </div>
          </div>
          <div class="recipe-description">
            <h3>{{ recipe.value.title }}</h3>
            <span><img src="assets/images/list-recipe/clock-icon.png" alt=""></span>
            <span>{{ convertSecondToMinute(recipe.value.prepTime) }} m</span>
          </div>
          <p *ngIf="isMultiple(recipe.key, 3) == 0" class="sponsored">
            Sponsorisé
          </p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/images/ad.png" alt="">
        </a>
      </li>
    </ul>
  </div>

  <!--<ul *ngIf="listFilterType">
    <li *ngFor="let filter of listFilterType">
      {{ filter[0] }}, {{ filter[1] }}
    </li>
  </ul>-->

  <!--<ul *ngIf="listFilterEvent">
    <li *ngFor="let filter of listFilterEvent">
      {{ filter[0] }}, {{ filter[1] }}
    </li>
  </ul>-->
</main>
