<main>
  <div class="bloc-filter-recipe">
    <div class="input-filter">
      <img src="assets/images/profil-settings/search.png" alt="">
      <input type="text" [formControl]="queryField" (blur)="onBlur()" (focus)="onFocus()" name="keyword" id="keyword" placeholder="Ingrédients, recette, type de cuisine">
      <!--<div class="icon-filter">
        <img src="assets/images/list-recipe/filter-icon.png" alt="">
      </div>-->
    </div>
    <ul *ngIf="displaySearchList" class="filter-search">
      <li *ngFor="let result of resultsSearch">
        <a [routerLink]="['/recipe', result.id]" >
          <p class="recipe-name">{{ result.title }}</p>
        </a>
      </li>
      <li>
        Toutes les recettes avec <span>"{{ queryField.value }}"</span>
      </li>
    </ul>

    <!--<button>Idées de menus</button>-->

    <div class="content-filter">
      <h3>Trouver par</h3>
      <ul>
        <li *ngFor="let item of listFilterType" [attr.data-value-filter]="item[0]" (click)="changeFilterType($event)" [ngClass]="{active: filterIsSelected('type', item[0])}">
          {{ item[1] }}
        </li>
      </ul>
    </div>

    <div class="content-filter">
      <h3>Trier par</h3>
      <ul>
        <li data-value-filter="été" (click)="changeFilterSeason($event)" [ngClass]="{active: filterIsSelected('season', 'été')}">Été</li>
        <li data-value-filter="hiver" (click)="changeFilterSeason($event)" [ngClass]="{active: filterIsSelected('season', 'hiver')}">Hiver</li>
      </ul>
    </div>
  </div>

  <div class="bloc-list-recipe">
    <div>
      <h3>Recettes suggérées</h3>
      <span>Trier par :</span>
    </div>

    <ul *ngIf="allRecipe" class="list-recipe">
      <li *ngFor="let recipe of allRecipe | keyvalue">
        <a [routerLink]="['/recipe', recipe.value.id]" >
          <div class="recipe-image" style.background-image="url({{ recipe.value.medias[0].url }})">
            <div>
              <img src="assets/images/list-recipe/save-icon.png" alt="">
            </div>
          </div>
          <div class="recipe-description">
            <h3>{{ recipe.value.title }}</h3>
            <span><img src="assets/images/list-recipe/clock-icon.png" alt=""></span>
            <span>{{ convertSecondToMinute(recipe.value.prepTime) }} m</span>
          </div>
          <p *ngIf="isMultiple(recipe.key, 3) == 0" class="sponsored">
            Sponsorisé
          </p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="assets/images/ad.png" alt="">
        </a>
      </li>
    </ul>
  </div>

  <!--<ul *ngIf="listFilterType">
    <li *ngFor="let filter of listFilterType">
      {{ filter[0] }}, {{ filter[1] }}
    </li>
  </ul>-->

  <!--<ul *ngIf="listFilterEvent">
    <li *ngFor="let filter of listFilterEvent">
      {{ filter[0] }}, {{ filter[1] }}
    </li>
  </ul>-->
</main>
